/*
Jordan Boulais-Richard - 20200086
Salla Sy - 20284651
*/

body {
    background-color: #3f2860;
    color: #40407a;
    font-family: Verdana, Arial, sans-serif;
}

#wrapper {
    background-color: #f5f5f5;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-width: 1200px;
    max-width: 1480px;
}

header {
    background-color: #80cbc4;
    background-image: url(images/lilyheader.jpg);
    background-position: right;
    background-repeat: no-repeat;
    height: 150px;
}

header a {
    text-decoration: none;
}

h1 {
    padding-top: 50px;
    padding-left: 2em;
}

h1:hover {
    color:  #FFFFFF;
}

nav {
    float : left;
    font-weight: bold;
    text-align: center;
    padding-left: 1em;
    padding-top: 1em;
    height: 100%;
}

nav a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border-left: #cbcbcb solid 3px;
    border-top: #cbcbcb solid 3px;
    border-right: #777778 solid 3px;
    border-bottom: #777778 solid 3px;
    width: 125px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 1em;
}

nav a:link {
    color: #3F2860;
}

nav a:visited {
    color: #497777;
}

nav a:hover {
    border-left: #333333 solid 3px;
    border-top: #333333 solid 3px;
    color: #A26100;
}

main {
    padding-left: 12em;
    padding-right: 1em;
}

img {
    padding-left: 1em;
    padding-right: 1em;
}

.studio {
    font-style: italic;
}

#hero {
    text-align: center;
}

#door{
    float: left;
    padding-right: 0;
    padding-left: 5em;
    transform: scaleX(-1);
    margin-bottom: 1em;
}

footer {
    background-color: #80cbc4;
    font-size: 0.6em;
    font-style: italic;
    text-align: center;
    padding: 1em;
}

.clearleft {
    clear: left;
}

.below-text {


}