/*
Jordan Boulais-Richard - 20200086
Salla Sy - 20284651
*/

body {
    background-color: #3f2860;
    color: #40407a;
    font-family: Verdana, Arial, sans-serif;
}

#wrapper {
    background-color: #f5f5f5;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-width: 1200px;
    max-width: 1480px;
}

header {
    background-color: #80cbc4;
    background-image: url(images/lilyheader.jpg);
    background-position: right;
    background-repeat: no-repeat;
    height: 150px;
}

header a {
    text-decoration: none;
}

h1 {
    padding-top: 50px;
    padding-left: 2em;
}

h1:hover {
    color: #FFFFFF;
}

nav a:link {
    color: #3F2860;
}

nav a:visited {
    color: #497777;
}

nav a:hover {
    color: #A26100;
    border-left-color: #333333;
    border-top-color: #333333;
}

nav {
    float: left;
    font-weight: bold;
    text-align: center;
    padding-left: 1em;
    padding-top: 1em;
    height: 100%;
}

nav a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border-left: #cbcbcb solid 3px;
    border-top: #cbcbcb solid 3px;
    border-right: #777778 solid 3px;
    border-bottom: #777778 solid 3px;
    width: 125px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 1em;
}


main {
    padding-left: 12.5em;
    padding-right: 1em;
}

img {
    padding-left: 1em;
    padding-right: 1em;
}

.studio {
    font-style: italic;
}

#hero {
    margin-bottom: 1em;
    margin-left: 0;
    padding-left: 0;
}

#door {
    float: left;
    padding-right: 0;
    padding-left: 5em;
    transform: scaleX(-1);
    margin-bottom: 1em;
}

footer {
    background-color: #80cbc4;
    font-size: 0.6em;
    font-style: italic;
    text-align: center;
    padding: 1em;
}

.clearleft {
    clear: left;
}

.courses {
    display: flex;
    column-gap: 5em;
    margin-bottom: 1em;
    margin-left: 1.5em;
    margin-top: 2.5em;
}

.course {
    width: 20em;
    row-gap: 0.5em;
    display: flex;
    flex-direction: column;
}

.course h2 {
    color: #40407a;
    margin: 0 0 0.4em 0;
    font-size: 1.05em;
}

.course p {
    margin: 0;
    font-weight: bold;
    line-height: 1.5;
    color: #3F2860;
}

h2 {
    margin-top: 3%;
}

.course section {
    font-weight: normal;
}