/*
Jordan Boulais-Richard - 20200086
Salla Sy - 20284651
*/

body {
  padding-top: 10px;
  font-family: Verdana, Arial, sans-serif;
  width: 80%;
  margin: 0 auto;
}



header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Verdana;
}

footer {
    text-align: center;
    color: white;
    background-color: #1f1f1f;
}

header h1 {
    font-size: 120px;
    padding: 0;
    margin: 0;
    text-align: left;
    padding-left: 70px;
    color: white;
}

header img {
  float: right;
}

h1, h2 {
}

h3 {
}

main {
    margin-top: 50px;
    font-weight: 400;
    font-size: 1.4em;
    text-align: justify;
    text-justify: inter-word;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    padding-left: 8px;
    border-left: 1px solid #1f1f1f;;
}


nav {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 25px;
    font-size: 23px;
    background-color: #1f1f1f;
}

nav a {
    text-decoration: none;
    color: #f3f3f4;
}

nav a:hover{
    text-decoration: none;
    color: #1f1f1f;
    background-color: #f3f3f4;;
}

#wrapper {

}

.sources-images {
    font-size: 15px;
    color: #1f1f1f;
}