/*
Jordan Boulais-Richard - 20200086
Salla Sy - 20284651
*/

body {
    font-family: Verdana, Arial, sans-serif;
    overflow-y: scroll;

}

#wrapper {

}

#header-nav {
    display: flex;
    flex-direction: column;
}

header {
    background-image: url(assets/sunrise.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 352px;
}

header a {
    text-decoration: none;
}

h1 {
    padding-top: 65px;
    padding-left: 5em;
    color: #ffffff;
}

h1:hover {
    color: #FFFFFF;
}

nav a:link {
    color: #3F2860;
}

nav a:visited {
    color: #497777;
}

nav {
    display: flex;
    gap: 3em;
    font-weight: bold;
    justify-content: flex-end;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
}

nav a {
    text-decoration: none;
}


#main-footer-border {
    background-color: #40265c;
    padding-bottom: 6em;
}

#main-footer {
    background-color: #f3f3f4;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 3em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-bottom: 2em;
}

main {
    color: #40265c;
}

footer {
    font-size: 0.6em;
    font-style: italic;
    text-align: center;
    padding: 1em;
    padding-top: 0;
    margin-top: 0;
}

h2 {
    padding-top: 0;
    margin-top: 0;
}

h3 {
    text-align: center;
    padding-top: 1em;
}

table {
    border-collapse: collapse;
    border: 1px solid #40265c;
    margin: 0 auto;
    width: auto;
}

th,
td {
    border: 1px solid #40265c;
    padding: 0.5em;
    padding-left: 0.25em;
}

/* Header */
thead tr {
    background-color: #ffffff;
}

th:first-child {
    width: 12em;
}

th:last-child {
    width: 30em;
}

/* Alternance des rangées du corps */
tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

tbody tr:nth-child(even) {
    background-color: #dbe8e9;
}

#week-end-table{
    margin-bottom: 1em;
}

#yoga-lounge {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: top;
    padding-bottom: 0;
}

form {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-family: Arial, sans-serif;
    padding-bottom: 0.5em;
}

form div {
    display: flex;
    align-items: flex-start;
    gap: 1em;
}

form label {
    width: 25em;
    text-align: right;
}

form input,
#myComments {
    width: 70em;
}

form #myRefer {
    height: 3em;
}

form #submit {
    width: 10em;
    margin-left: 14.25em;
    font-weight: bold;
}

/* Taille moyenne */
@media (max-width: 1023px) {

    /* Le header : titre centré et le nav rapproché */
    h1 {
        padding-left: 3em;
    }

    header {
        height: 225px;
    }

    #yoga-lounge {
        height: 300px;
    }



    form input,
    #myComments {
        width: 30em;
    }

    form #submit {
    margin-left: 14.5em;
    }

    table {
        max-width: 90%;
        font-size: 0.9em;
    }

    #main-footer-border {
        background-color: #f3f3f4;
        padding-bottom: 0;
    }

    #main-footer {
        background-color: #f3f3f4;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        padding-top: 3em;
        padding-left: 2.5em;
        padding-right: 2.5em;
        padding-bottom: 2em;
    }

    form label {
    width: 11em;
    text-align: right;
}

    main {
        color: #40265c;
    }
}

/* Taille petite */
@media (max-width: 599px) {

    nav {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        column-gap: 6em;
        row-gap: 0;
        font-weight: bold;
        margin: 1em;
        justify-content: center;
    }

    h1 {
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 20px;
        text-align: justify;
    }

    header {
        height: 200px;
    }

    /* Tableau : scroll horizontal */
    table {
        width: fit-content;
        font-size: 0.8em;
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        border: 0px solid #40265c;
    }

    th:first-child {
        width: 6em;
    }

    th:last-child {
        width: 15em;
    }

    #yoga-lounge {
        display: none;
    }

    /* formulaires sous forme de colonne */
    form {
        width: 100%;
        max-width: 100%;
        gap: 0.5em;
    }

    form div {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }

    form label {
        width: auto;
        text-align: left;
        font-size: 0.9em;
    }

    form input,
    #myComments {
        width: 100%;
    }

    form #myRefer {
        width: 100%;
        height: 1em;
    }

    form #submit {
        margin-left: 0;
        align-self: center;
        width: 100%;
    }

    #index-tel {
        text-decoration: underline;
        color: #0000EE;
    }
}